.ai-ess {
  align-items: flex-start;
  background-color: var(--ffffff);
  display: flex;
  height: 1024px;
  overflow: hidden;
  width: 1440px;
}

.overlap-group6-1 {
  height: 1035px;
  margin-top: -10px;
  position: relative;
  width: 1440px;
}

.overlap-group2-2 {
  height: 1035px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1442px;
}

.nav-menu-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 14px;
  min-height: 255px;
  position: absolute;
  top: 160px;
  width: 166px;
}

.dashboard-3 {
  cursor: pointer;
  height: 17px;
  letter-spacing: 0;
}

.nav-menu-item-4 {
  height: 17px;
  letter-spacing: 0;
  margin-top: 17px;
}

.nav-menu-item-5 {
  height: 17px;
  letter-spacing: 0;
  margin-left: 15px;
  margin-top: 17px;
}

.anomaly-detection-3 {
  align-self: center;
  cursor: pointer;
  height: 17px;
  letter-spacing: 0;
  margin-right: 1.0px;
  margin-top: 17px;
  min-width: 135px;
}

.overlap-group1-3 {
  height: 74px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.clock-2 {
  color: var(--ffffff);
  font-weight: 400;
  height: 74px;
  left: 1025px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 249px;
}

.nav_frame-2 {
  background-color: var(--x0c1e7f);
  height: 48px;
  left: 0;
  position: absolute;
  top: 11px;
  width: 1440px;
}

.logo_text-2 {
  color: var(--ffffff);
  cursor: pointer;
  font-weight: 700;
  left: 48px;
  position: absolute;
  top: 24px;
}

.logout-2 {
  color: var(--ffffff);
  cursor: pointer;
  font-weight: 700;
  left: 1316px;
  position: absolute;
  top: 24px;
}

.ess-cost {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 856px;
  min-height: 395px;
  position: absolute;
  top: 247px;
  width: 495px;
}

.cost-container {
  height: 62px;
  margin-left: 8.0px;
  position: relative;
  width: 439px;
}

.cost_headline {
  color: var(--x000000);
  font-weight: 700;
  height: 36px;
  left: 0;
  position: absolute;
  top: 0;
  width: 439px;
}

.off_peak_cost {
  color: var(--d22779);
  font-weight: 700;
  height: 32px;
  left: 89px;
  position: absolute;
  text-align: center;
  top: 30px;
}

.span1 {
  letter-spacing: 0;
}

.mid_peak_cost {
  color: var(--d22779);
  font-weight: 700;
  height: 32px;
  left: 215px;
  position: absolute;
  text-align: center;
  top: 30px;
}

.on_peak_cost {
  color: var(--d22779);
  font-weight: 700;
  height: 32px;
  left: 336px;
  position: absolute;
  text-align: center;
  top: 30px;
}

.overlap-group4-2 {
  align-items: center;
  background-color: var(--ffffff);
  display: flex;
  flex-direction: column;
  margin-right: 8.0px;
  margin-top: 8px;
  min-height: 325px;
  padding: 17px 0;
  position: relative;
  width: 487px;
}

.flex-row-3 {
  align-items: flex-start;
  display: flex;
  margin-left: 18.0px;
  margin-top: 15px;
  min-width: 431px;
}

.feature_3 {
  height: 40px;
  position: relative;
  width: 202px;
}

.checkbox-selected-disabled-custom {
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 51px;
}

.state-of-charge {
  color: var(--x000000);
  font-weight: 400;
  height: 22px;
  left: 51px;
  position: absolute;
  top: 8px;
  width: 149px;
}

.overlap-group-7 {
  height: 40px;
  margin-left: 7px;
  position: relative;
  width: 222px;
}

.checkbox-selected-disabled-custom-1 {
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 63px;
}

.ess-scheduling {
  color: var(--x000000);
  font-weight: 400;
  height: 22px;
  left: 54px;
  position: absolute;
  top: 7px;
  width: 168px;
}

.peack-power-threshold {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 272px;
  min-height: 397px;
  position: absolute;
  top: 245px;
  width: 511px;
}

.peak_-container {
  align-items: flex-start;
  display: flex;
  height: 30px;
  margin-left: 19.0px;
  min-width: 366px;
}

.peak_headline {
  color: var(--x000000);
  font-weight: 700;
  height: 29px;
  min-width: 283px;
}

.peak_value {
  align-self: flex-end;
  color: var(--ff008e);
  font-weight: 700;
  height: 29px;
  margin-left: 37px;
  min-width: 46px;
}

.overlap-group5-2 {
  align-items: center;
  background-color: var(--ffffff);
  display: flex;
  flex-direction: column;
  margin-right: 4.0px;
  margin-top: 42px;
  min-height: 325px;
  padding: 13px 0;
  position: relative;
  width: 507px;
}

.feature_-container {
  height: 41px;
  margin-left: 16.0px;
  margin-top: 13px;
  position: relative;
  width: 401px;
}

.feature_1 {
  align-items: center;
  display: flex;
  height: 40px;
  left: 0;
  min-width: 202px;
  position: absolute;
  top: 0;
}

.checkbox-selected-disabled-custom-2 {
  height: 40px;
  width: 54px;
}

.power-load {
  color: var(--x000000);
  font-weight: 400;
  height: 22px;
  margin-bottom: 2.0px;
  width: 146px;
}

.feature_2 {
  height: 40px;
  left: 199px;
  position: absolute;
  top: 1px;
  width: 202px;
}

.checkbox-selected-disabled-custom-3 {
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 45px;
}

.predicted-load {
  color: var(--x000000);
  font-weight: 400;
  height: 22px;
  left: 45px;
  position: absolute;
  top: 8px;
  width: 155px;
}

.mdc-checkbox {
  box-sizing: content-box;
}

.checkbox-selected-disabled-custom-2 .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .checkbox-selected-disabled-custom-2 .mdc-checkbox--selected .mdc-checkbox__native-control~.mdc-checkbox__background, .checkbox-selected-disabled-custom-2 .mdc-checkbox--anim-checked-unchecked .mdc-checkbox__native-control~.mdc-checkbox__background {
  background-color: #6200ee !important;
  border-color: #6200ee !important;
}

.checkbox-selected-disabled-custom-1 .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .checkbox-selected-disabled-custom-1 .mdc-checkbox--selected .mdc-checkbox__native-control~.mdc-checkbox__background, .checkbox-selected-disabled-custom-1 .mdc-checkbox--anim-checked-unchecked .mdc-checkbox__native-control~.mdc-checkbox__background {
  background-color: #6200ee !important;
  border-color: #6200ee !important;
}

.checkbox-selected-disabled-custom-2 .mdc-checkbox--selected.mdc-ripple-upgraded--background-focused .mdc-checkbox__ripple::before, .checkbox-selected-disabled-custom-2 .mdc-checkbox--selected.mdc-ripple-upgraded--background-focused .mdc-checkbox__ripple::after {
  background-color: #6200ee !important;
}

.checkbox-selected-disabled-custom-1 .mdc-checkbox--selected.mdc-ripple-upgraded--background-focused .mdc-checkbox__ripple::before, .checkbox-selected-disabled-custom-1 .mdc-checkbox--selected.mdc-ripple-upgraded--background-focused .mdc-checkbox__ripple::after {
  background-color: #6200ee !important;
}

.checkbox-selected-disabled-custom-3 .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .checkbox-selected-disabled-custom-3 .mdc-checkbox--selected .mdc-checkbox__native-control~.mdc-checkbox__background, .checkbox-selected-disabled-custom-3 .mdc-checkbox--anim-checked-unchecked .mdc-checkbox__native-control~.mdc-checkbox__background {
  background-color: #6200ee !important;
  border-color: #6200ee !important;
}

.checkbox-selected-disabled-custom .mdc-checkbox--selected.mdc-ripple-upgraded--background-focused .mdc-checkbox__ripple::before, .checkbox-selected-disabled-custom .mdc-checkbox--selected.mdc-ripple-upgraded--background-focused .mdc-checkbox__ripple::after {
  background-color: #6200ee !important;
}

.checkbox-selected-disabled-custom .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .checkbox-selected-disabled-custom .mdc-checkbox--selected .mdc-checkbox__native-control~.mdc-checkbox__background, .checkbox-selected-disabled-custom .mdc-checkbox--anim-checked-unchecked .mdc-checkbox__native-control~.mdc-checkbox__background {
  background-color: #6200ee !important;
  border-color: #6200ee !important;
}

.checkbox-selected-disabled-custom-3 .mdc-checkbox--selected.mdc-ripple-upgraded--background-focused .mdc-checkbox__ripple::before, .checkbox-selected-disabled-custom-3 .mdc-checkbox--selected.mdc-ripple-upgraded--background-focused .mdc-checkbox__ripple::after {
  background-color: #6200ee !important;
}

