.table__cell-7 {
  align-items: center;
  background-color: var(--ffffff);
  display: flex;
  height: 40px;
  margin-top: 1px;
  min-width: 48px;
  padding: 0 8px;
}

.text {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
  width: 32px;
}

.table__cell-7.table__cell-1,
.table__cell-7.table__cell-1-1,
.table__cell-7.table__cell-1-2,
.table__cell-7.table__cell-1-3,
.table__cell-7.table__cell-1-4,
.table__cell-7.table__cell-1-5,
.table__cell-7.table__cell-4,
.table__cell-7.table__cell-4-1,
.table__cell-7.table__cell-4-2,
.table__cell-7.table__cell-4-3,
.table__cell-7.table__cell-4-4,
.table__cell-7.table__cell-4-5 {
  min-width: 144px;
}

.table__cell-7.table__cell-1-1 .text,
.table__cell-7.table__cell-4-1 .text,
.table__cell-7.table__cell-1-2 .text,
.table__cell-7.table__cell-1-3 .text,
.table__cell-7.table__cell-1-4 .text,
.table__cell-7.table__cell-1-5 .text,
.table__cell-7.table__cell-1 .text,
.table__cell-7.table__cell-4-2 .text,
.table__cell-7.table__cell-4-3 .text,
.table__cell-7.table__cell-4-4 .text,
.table__cell-7.table__cell-4-5 .text,
.table__cell-7.table__cell-4 .text {
  width: 128px;
}

.table__cell-7.table__cell-2,
.table__cell-7.table__cell-2-1,
.table__cell-7.table__cell-2-10,
.table__cell-7.table__cell-2-11,
.table__cell-7.table__cell-2-12,
.table__cell-7.table__cell-2-13,
.table__cell-7.table__cell-2-14,
.table__cell-7.table__cell-2-15,
.table__cell-7.table__cell-2-16,
.table__cell-7.table__cell-2-17,
.table__cell-7.table__cell-2-18,
.table__cell-7.table__cell-2-19,
.table__cell-7.table__cell-2-2,
.table__cell-7.table__cell-2-20,
.table__cell-7.table__cell-2-21,
.table__cell-7.table__cell-2-22,
.table__cell-7.table__cell-2-23,
.table__cell-7.table__cell-2-24,
.table__cell-7.table__cell-2-25,
.table__cell-7.table__cell-2-26,
.table__cell-7.table__cell-2-27,
.table__cell-7.table__cell-2-28,
.table__cell-7.table__cell-2-29,
.table__cell-7.table__cell-2-3,
.table__cell-7.table__cell-2-4,
.table__cell-7.table__cell-2-5,
.table__cell-7.table__cell-2-6,
.table__cell-7.table__cell-2-7,
.table__cell-7.table__cell-2-8,
.table__cell-7.table__cell-2-9,
.table__cell-7.table__cell-5,
.table__cell-7.table__cell-5-1,
.table__cell-7.table__cell-5-10,
.table__cell-7.table__cell-5-11,
.table__cell-7.table__cell-5-2,
.table__cell-7.table__cell-5-3,
.table__cell-7.table__cell-5-4,
.table__cell-7.table__cell-5-5,
.table__cell-7.table__cell-5-6,
.table__cell-7.table__cell-5-7,
.table__cell-7.table__cell-5-8,
.table__cell-7.table__cell-5-9 {
  min-width: 154px;
}

.table__cell-7.table__cell-2-1 .text,
.table__cell-7.table__cell-5-1 .text,
.table__cell-7.table__cell-2-2 .text,
.table__cell-7.table__cell-2-3 .text,
.table__cell-7.table__cell-2-4 .text,
.table__cell-7.table__cell-2-5 .text,
.table__cell-7.table__cell-2-6 .text,
.table__cell-7.table__cell-2-7 .text,
.table__cell-7.table__cell-2-8 .text,
.table__cell-7.table__cell-2-9 .text,
.table__cell-7.table__cell-2-10 .text,
.table__cell-7.table__cell-2-11 .text,
.table__cell-7.table__cell-2-12 .text,
.table__cell-7.table__cell-2-13 .text,
.table__cell-7.table__cell-2-14 .text,
.table__cell-7.table__cell-2-15 .text,
.table__cell-7.table__cell-2-16 .text,
.table__cell-7.table__cell-2-17 .text,
.table__cell-7.table__cell-2-18 .text,
.table__cell-7.table__cell-2-19 .text,
.table__cell-7.table__cell-2-20 .text,
.table__cell-7.table__cell-2-22 .text,
.table__cell-7.table__cell-2-23 .text,
.table__cell-7.table__cell-2-24 .text,
.table__cell-7.table__cell-2-25 .text,
.table__cell-7.table__cell-2-26 .text,
.table__cell-7.table__cell-2-27 .text,
.table__cell-7.table__cell-2-28 .text,
.table__cell-7.table__cell-2-29 .text,
.table__cell-7.table__cell-2 .text,
.table__cell-7.table__cell-5-2 .text,
.table__cell-7.table__cell-5-3 .text,
.table__cell-7.table__cell-5-4 .text,
.table__cell-7.table__cell-5-5 .text,
.table__cell-7.table__cell-5-6 .text,
.table__cell-7.table__cell-5-7 .text,
.table__cell-7.table__cell-5-8 .text,
.table__cell-7.table__cell-5-9 .text,
.table__cell-7.table__cell-5-10 .text,
.table__cell-7.table__cell-5-11 .text,
.table__cell-7.table__cell-5 .text {
  width: 138px;
}

.table__cell-7.table__cell-2-21 .text {
  opacity: 0.2;
  width: 138px;
}

.table__cell-7.table__cell-6,
.table__cell-7.table__cell-6-1,
.table__cell-7.table__cell-6-10,
.table__cell-7.table__cell-6-11,
.table__cell-7.table__cell-6-12,
.table__cell-7.table__cell-6-13,
.table__cell-7.table__cell-6-14,
.table__cell-7.table__cell-6-15,
.table__cell-7.table__cell-6-16,
.table__cell-7.table__cell-6-17,
.table__cell-7.table__cell-6-2,
.table__cell-7.table__cell-6-3,
.table__cell-7.table__cell-6-4,
.table__cell-7.table__cell-6-5,
.table__cell-7.table__cell-6-6,
.table__cell-7.table__cell-6-7,
.table__cell-7.table__cell-6-8,
.table__cell-7.table__cell-6-9 {
  min-width: 174px;
}

.table__cell-7.table__cell-6-1 .text,
.table__cell-7.table__cell-6-2 .text,
.table__cell-7.table__cell-6-3 .text,
.table__cell-7.table__cell-6-4 .text,
.table__cell-7.table__cell-6-5 .text,
.table__cell-7.table__cell-6-6 .text,
.table__cell-7.table__cell-6-7 .text,
.table__cell-7.table__cell-6-8 .text,
.table__cell-7.table__cell-6-9 .text,
.table__cell-7.table__cell-6-10 .text,
.table__cell-7.table__cell-6-11 .text,
.table__cell-7.table__cell-6-12 .text,
.table__cell-7.table__cell-6-13 .text,
.table__cell-7.table__cell-6-14 .text,
.table__cell-7.table__cell-6-16 .text,
.table__cell-7.table__cell-6-17 .text,
.table__cell-7.table__cell-6 .text {
  width: 158px;
}

.table__cell-7.table__cell-6-15 .text {
  opacity: 0.2;
  width: 158px;
}

