.dashboard {
  align-items: flex-start;
  background-color: var(--ffffff);
  display: flex;
  height: 1024px;
  width: 1440px;
}

.overlap-group5 {
  height: 1035px;
  margin-top: -11px;
  position: relative;
  width: 1440px;
}

.overlap-group2 {
  height: 1035px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1442px;
}

.nav-menu {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 14px;
  min-height: 255px;
  position: absolute;
  top: 160px;
  width: 166px;
}

.dashboard-1 {
  height: 17px;
  letter-spacing: 0;
}

.nav-menu-item {
  height: 17px;
  letter-spacing: 0;
  margin-top: 17px;
}

.ess-schedule {
  cursor: pointer;
  height: 17px;
  letter-spacing: 0;
  margin-left: 15px;
  margin-top: 17px;
}

.anomaly-detection {
  align-self: center;
  cursor: pointer;
  height: 17px;
  letter-spacing: 0;
  margin-right: 1.0px;
  margin-top: 17px;
  min-width: 135px;
}

.nav-menu-item-1 {
  height: 17px;
  letter-spacing: 0;
  margin-left: 15px;
  margin-top: 17px;
}

.overlap-group1 {
  height: 74px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.clock {
  color: var(--ffffff);
  font-weight: 400;
  height: 74px;
  left: 1025px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 249px;
}

.nav_frame {
  background-color: var(--x0c1e7f);
  height: 48px;
  left: 0;
  position: absolute;
  top: 11px;
  width: 1440px;
}

.logo_text {
  color: var(--ffffff);
  font-weight: 700;
  left: 48px;
  position: absolute;
  top: 24px;
}

.logout {
  color: var(--ffffff);
  cursor: pointer;
  font-weight: 700;
  left: 1316px;
  position: absolute;
  top: 24px;
}

.ess_power {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 856px;
  min-height: 720px;
  position: absolute;
  top: 159px;
  width: 514px;
}

.overlap-group3 {
  height: 381px;
  position: relative;
  width: 512px;
}

.title {
  color: var(--x000000);
  font-weight: 700;
  height: 58px;
  left: 44px;
  position: absolute;
  top: 0;
  width: 468px;
}

.overlap-group-3 {
  align-items: center;
  background-color: var(--ffffff);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 325px;
  padding: 16px 0;
  position: absolute;
  top: 56px;
  width: 488px;
}

.flex-row {
  align-items: center;
  display: flex;
  margin-left: 1.0px;
  margin-top: 9px;
  min-width: 453px;
}

.label {
  color: var(--x000000);
  font-weight: 700;
  height: 64px;
  width: 251px;
}

.cost_text {
  color: var(--d22779);
  font-weight: 700;
  height: 22px;
  margin-left: 50px;
  margin-top: 6.0px;
  min-width: 152px;
}

.overlap-group1-1 {
  height: 325px;
  margin-top: 14px;
  position: relative;
  width: 488px;
}

.border {
  background-color: var(--ffffff);
  height: 325px;
  left: 0;
  position: absolute;
  top: 0;
  width: 487px;
}

.label-1 {
  color: var(--x000000);
  font-weight: 700;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 25px;
  width: 202px;
}

.cost_text-1 {
  color: var(--d22779);
  font-weight: 700;
  height: 22px;
  left: 309px;
  position: absolute;
  top: 46px;
}

.ess_cost_-rate {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 295px;
  min-height: 283px;
  position: absolute;
  top: 162px;
  width: 513px;
}

.title-1 {
  align-self: flex-end;
  color: var(--x000000);
  font-weight: 700;
  height: 54px;
  margin-right: 4px;
  width: 492px;
}

.overlap-group4 {
  height: 228px;
  margin-top: 1px;
  position: relative;
  width: 501px;
}

.border-1 {
  background-color: var(--ffffff);
  height: 228px;
  left: 0;
  position: absolute;
  top: 0;
  width: 484px;
}

.ratio_text {
  color: var(--d22779);
  font-weight: 700;
  height: 44px;
  left: 330px;
  position: absolute;
  top: 79px;
  width: 171px;
}

.dash_anomaly_detection {
  align-items: flex-end;
  display: flex;
  height: 163px;
  left: 322px;
  min-width: 480px;
  position: absolute;
  top: 477px;
}

.icon-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  min-height: 83px;
  width: 30px;
}

.akar-iconscircle-alert {
  height: 30px;
  width: 30px;
}

.icon-caution {
  height: 30px;
  margin-top: 23px;
  width: 30px;
}

.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 38px;
  min-height: 163px;
  width: 406px;
}

.anomaly-detection-1 {
  color: var(--x000000);
  font-weight: 700;
  height: 64px;
  width: 406px;
}

.address {
  color: var(--x000000);
  font-weight: 400;
  height: 34px;
  margin-left: 8px;
  width: 319px;
}

.last-abnormal-state {
  color: var(--x000000);
  font-weight: 400;
  height: 44px;
  margin-left: 8px;
  margin-top: 21px;
  width: 300px;
}

