.table__cell-header-3 {
  align-items: center;
  background-color: var(--gallery);
  display: flex;
  height: 40px;
  min-width: 48px;
  padding: 0 8px;
}

.text-3 {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
  width: 32px;
}

.table__cell-header-3.table__cell-header-4,
.table__cell-header-3.table__cell-header-6 {
  min-width: 144px;
}

.table__cell-header-3.table__cell-header-4 .text-3,
.table__cell-header-3.table__cell-header-6 .text-3 {
  width: 128px;
}

.table__cell-header-3.table__cell-header,
.table__cell-header-3.table__cell-header-10,
.table__cell-header-3.table__cell-header-7,
.table__cell-header-3.table__cell-header-8,
.table__cell-header-3.table__cell-header-9,
.table__cell-header-3.table__cell-header-1,
.table__cell-header-3.table__cell-header-1-1 {
  min-width: 154px;
}

.table__cell-header-3.table__cell-header-7 .text-3,
.table__cell-header-3.table__cell-header-1-1 .text-3,
.table__cell-header-3.table__cell-header-8 .text-3,
.table__cell-header-3.table__cell-header-9 .text-3,
.table__cell-header-3.table__cell-header-10 .text-3,
.table__cell-header-3.table__cell-header .text-3,
.table__cell-header-3.table__cell-header-1 .text-3 {
  width: 138px;
}

.table__cell-header-3.table__cell-header-2,
.table__cell-header-3.table__cell-header-2-1,
.table__cell-header-3.table__cell-header-2-2 {
  min-width: 174px;
}

.table__cell-header-3.table__cell-header-2-1 .text-3,
.table__cell-header-3.table__cell-header-2-2 .text-3,
.table__cell-header-3.table__cell-header-2 .text-3 {
  width: 158px;
}

