.login {
  align-items: flex-start;
  background-color: var(--ffffff);
  display: flex;
  height: 1024px;
  padding: 0 511px;
  width: 1440px;
}

.overlap-group-2 {
  align-items: center;
  background-color: var(--ffffff);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  margin-left: 9px;
  margin-top: 294px;
  min-height: 436px;
  padding: 48px 75px;
  position: relative;
  width: 409px;
}

.input_user_id {
  height: 56px;
  margin-right: 3.0px;
  width: 200px;
}

.input_user_pw {
  height: 56px;
  margin-right: 3.0px;
  margin-top: 20px;
  width: 200px;
}

.forget-password-new-user {
  align-self: flex-start;
  color: var(--x0c1e7f);
  cursor: pointer;
  font-weight: 300;
  margin-top: 54px;
  min-height: 22px;
}

.input_user_pw .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

.input_user_id .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

