.general-nav-1,
.general-nav-2,
.general-nav-3,
.general-nav-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 1024px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.overlap-group-5,
.overlap-group-6,
.overlap-group-7,
.overlap-group-8 {
  align-items: center;
  background-color: var(--x0c1e7f);
  display: flex;
  height: 48px;
  min-width: 1440px;
  padding: 8.7px 48px;
}

.iemp-3,
.iemp-4,
.iemp-5,
.iemp-6 {
  color: var(--ffffff);
  font-weight: 700;
  min-height: 22px;
  min-width: 49px;
}

.icon-notifications-2,
.icon-notifications-3,
.icon-notifications-4,
.icon-notifications-5 {
  align-self: flex-start;
  height: 29px;
  margin-left: 1164px;
  width: 24px;
}

.logout-2,
.logout-3,
.logout-4,
.logout-5 {
  color: var(--ffffff);
  font-weight: 700;
  margin-left: 31px;
  min-height: 22px;
  min-width: 68px;
}

