.ai-ad {
  align-items: flex-start;
  background-color: var(--ffffff);
  display: flex;
  height: 1024px;
  width: 1440px;
}

.overlap-group9 {
  height: 1035px;
  margin-top: -16px;
  position: relative;
  width: 1440px;
}

.overlap-group2-1 {
  height: 1035px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1442px;
}

.nav-menu-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 14px;
  min-height: 255px;
  position: absolute;
  top: 160px;
  width: 174px;
}

.dashboard-2 {
  cursor: pointer;
  height: 17px;
  letter-spacing: 0;
}

.nav-menu-item-2 {
  height: 17px;
  letter-spacing: 0;
  margin-top: 17px;
}

.ess-schedule-1 {
  color: var(--x000000);
  cursor: pointer;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xs);
  font-weight: 400;
  height: 17px;
  letter-spacing: 0;
  margin-left: 15px;
  margin-top: 17px;
}

.anomaly-detection-2 {
  align-self: center;
  height: 17px;
  letter-spacing: 0;
  margin-right: 1.0px;
  margin-top: 17px;
  min-width: 143px;
}

.nav-menu-item-3 {
  height: 17px;
  letter-spacing: 0;
  margin-left: 15px;
  margin-top: 17px;
}

.overlap-group1-2 {
  height: 74px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.clock-1 {
  color: var(--ffffff);
  font-weight: 400;
  height: 74px;
  left: 1025px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 249px;
}

.nav_frame-1 {
  background-color: var(--x0c1e7f);
  height: 48px;
  left: 0;
  position: absolute;
  top: 11px;
  width: 1440px;
}

.logo_text-1 {
  color: var(--ffffff);
  cursor: pointer;
  font-weight: 700;
  left: 48px;
  position: absolute;
  top: 24px;
}

.logout-1 {
  color: var(--ffffff);
  cursor: pointer;
  font-weight: 700;
  left: 1316px;
  position: absolute;
  top: 24px;
}

.flex-row-1 {
  align-items: flex-start;
  background-color: var(--ffffff);
  display: flex;
  height: 161px;
  justify-content: flex-end;
  left: 292px;
  min-width: 487px;
  padding: 32px 23px;
  position: absolute;
  top: 189px;
}

.flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  min-height: 77px;
  width: 27px;
}

.notice_logo {
  height: 27px;
  width: 27px;
}

.icon-caution-1 {
  height: 22px;
  margin-left: 1.0px;
  margin-top: 28px;
  width: 25px;
}

._alarm_text-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  min-height: 89px;
  width: 369px;
}

.summary_alarm_text {
  color: var(--x000000);
  font-weight: 400;
  height: 34px;
  width: 369px;
}

.last_alarm_text {
  color: var(--x000000);
  font-weight: 400;
  height: 44px;
  margin-top: 11px;
  width: 347px;
}

.parameter-selection {
  height: 138px;
  left: 880px;
  position: absolute;
  top: 203px;
  width: 456px;
}

.overlap-group6 {
  height: 138px;
  left: 0;
  position: absolute;
  top: 0;
  width: 363px;
}

.location_drop {
  height: 56px;
  left: 163px;
  position: absolute;
  top: 3px;
  width: 200px;
}

.overlap-group5-1 {
  height: 138px;
  left: 0;
  position: absolute;
  top: 0;
  width: 210px;
}

.overlap-group4-1 {
  height: 138px;
  left: 0;
  position: absolute;
  top: 0;
  width: 106px;
}

.date {
  color: var(--x000000);
  font-weight: 700;
  height: 74px;
  left: 2px;
  position: absolute;
  top: 64px;
  width: 69px;
}

.location {
  color: var(--x000000);
  font-weight: 700;
  height: 74px;
  left: 0;
  position: absolute;
  top: 0;
  width: 106px;
}

.year_drop {
  height: 30px;
  left: 98px;
  position: absolute;
  top: 87px;
  width: 112px;
}

._drop-container {
  align-items: flex-start;
  display: flex;
  height: 30px;
  left: 217px;
  min-width: 235px;
  position: absolute;
  top: 87px;
}

.month_drop {
  height: 30px;
  width: 112px;
}

.day_drop {
  height: 30px;
  margin-left: 11px;
  width: 112px;
}

.overlap-group7 {
  align-items: center;
  background-color: var(--ffffff);
  display: flex;
  flex-direction: column;
  left: 292px;
  min-height: 322px;
  padding: 2px 0;
  position: absolute;
  top: 379px;
  width: 486px;
}

.flex-row-2 {
  align-items: flex-end;
  display: flex;
  margin-left: 7.0px;
  margin-top: 6px;
  min-width: 435px;
}

.label-2 {
  color: var(--x000000);
  font-weight: 700;
  height: 74px;
  width: 210px;
}

.bank_drop {
  height: 56px;
  margin-left: 25px;
  width: 200px;
}

.overlap-group8 {
  height: 326px;
  left: 856px;
  position: absolute;
  top: 379px;
  width: 489px;
}

.border-2 {
  background-color: var(--ffffff);
  height: 320px;
  left: 0;
  position: absolute;
  top: 0;
  width: 489px;
}

.rack_drop {
  height: 56px;
  left: 252px;
  position: absolute;
  top: 20px;
  width: 200px;
}

.rack-selection-label {
  color: var(--x000000);
  font-weight: 700;
  height: 74px;
  left: 32px;
  position: absolute;
  top: 11px;
  width: 178px;
}

.temp_text {
  color: var(--x000000);
  font-weight: 400;
  height: 74px;
  left: 25px;
  position: absolute;
  text-decoration: underline;
  top: 86px;
  width: 98px;
}

.voltage_text {
  color: var(--x000000);
  font-weight: 400;
  height: 74px;
  left: 25px;
  position: absolute;
  text-decoration: underline;
  top: 197px;
  width: 98px;
}

.day_drop .mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

.year_drop .mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

.bank_drop .mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
  color: #6200ee;
}

.location_drop .mdc-select {
  --mdc-theme-primary: #ffffff;
}

.day_drop .custom-enhanced-select-width {
  width: 95px;
}

.year_drop .custom-enhanced-select-width {
  width: 95px;
}

.rack_drop .mdc-select {
  --mdc-theme-primary: #ffffff;
}

.location_drop .mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
  color: #6200ee;
}

.mdc-list-item {
  align-items: center;
  display: flex;
  height: 48px;
  position: relative;
}

.rack_drop .custom-enhanced-select-width {
  width: 200px;
}

.bank_drop .custom-enhanced-select-width {
  width: 200px;
}

.location_drop .custom-enhanced-select-width {
  width: 200px;
}

.month_drop .custom-enhanced-select-width {
  width: 95px;
}

.month_drop .mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

.bank_drop .mdc-select {
  --mdc-theme-primary: #ffffff;
}

.rack_drop .mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
  color: #6200ee;
}

