.home {
  align-items: center;
  background-color: var(--ffffff);
  display: flex;
  flex-direction: column;
  height: 1024px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.nero_-nav-bar {
  align-items: flex-start;
  display: flex;
  margin-left: 2.0px;
  margin-top: -3px;
  min-width: 1442px;
}

.overlap-group-1 {
  align-items: center;
  background-color: var(--x0c1e7f);
  display: flex;
  height: 48px;
  min-width: 1440px;
  padding: 2px 53px;
  position: relative;
}

.iemp {
  color: var(--ffffff);
  font-weight: 700;
  margin-top: 6.0px;
  min-height: 22px;
  min-width: 49px;
}

.hero_headline {
  color: var(--x0c1e7f);
  font-weight: 700;
  margin-right: 53.0px;
  margin-top: 260px;
  min-height: 141px;
  text-align: center;
  width: 519px;
}

.hero_text {
  color: var(--x000000);
  font-weight: 300;
  margin-right: 1.0px;
  margin-top: 103px;
  min-height: 129px;
  width: 467px;
}

