.button-login {
  align-items: flex-end;
  align-self: flex-end;
  background-color: var(--x0c1e7f);
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  height: 37px;
  justify-content: flex-end;
  margin-left: 18px;
  min-width: 177px;
  padding: 6.7px 10.8px;
}

.log-in {
  color: var(--ffffff);
  font-family: var(--font-family-montserrat);
  font-size: 21px;
  font-weight: 700;
  height: 23px;
  letter-spacing: 0;
  text-align: center;
  width: 149px;
}

