.column-fill {
  align-items: flex-start;
  background-color: var(--granite-gray);
  display: flex;
  flex-direction: column;
  margin-bottom: -3px;
  margin-left: 1px;
  min-height: 286px;
  position: relative;
  width: 234px;
}

