.auto-layout-table {
  align-items: center;
  background-color: var(--granite-gray);
  display: flex;
  height: 288px;
  left: 272px;
  min-width: 1071px;
  padding: 0 1px;
  position: absolute;
  top: 684px;
}

