.auto-layout-table-1 {
  align-items: flex-end;
  background-color: var(--granite-gray);
  display: flex;
  height: 284px;
  left: 315px;
  min-width: 875px;
  padding: 0 1px;
  position: absolute;
  top: 706px;
}

