.summary-alarm-table {
  align-items: flex-end;
  background-color: var(--granite-gray);
  display: flex;
  height: 284px;
  justify-content: flex-end;
  left: 292px;
  min-width: 1054px;
  padding: 0 1.0px;
  position: absolute;
  top: 722px;
}

